body {
    background-image: url('./../../../../public/images/error.jpg');        
    background-size: auto 60%; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 80vh;                
    margin: 0;     
}