body {
    background-image: url('./../../../../public/images/batalla.jpg'); 
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;  
    height: 90vh;                
    margin: 0;     
}