body {
    background-image: url('./../../../../public/images/victoria.jpg'); 
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;  
    height: 78.4vh;                
    margin: 0;     
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}