body {
    background-image: url('./../../../../public/images/HD-wallpaper-warhammer-warhammer-40k.jpg'); 
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center;  
    height: 78.4vh;                
    margin: 0;                    
  }

  h3{
    color: white;
  }

  h2{
    color: white;
  }