body {
    background-image: url('./../../../../public/images/HD-wallpaper-warhammer-warhammer-40k.jpg'); 
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center;  
    height: 90vh;                
    margin: 0;                    
  }