
<body>
<div class="d-flex justify-content-end ">
<h3>TableTopWarGame</h3>
</div>
<div class="cotainer-botton1">
<button type="button" class="btn btn-warning" routerLinkActive="active" routerLink="/historial">Historial de partidas</button>
</div>
<div class="cotainer-botton2">
<button type="button" class="btn btn-warning" routerLinkActive="active" routerLink="/nueva-partida">Nueva partida</button>
</div>

<div class="container-title">
    <h3>Anterior Partida:</h3>
    <h2>Tu: {{PuntosVictoriaUno}}</h2>
<h2>Rival: {{PuntosVictoriaDos}} </h2>

<h2>Ganador: {{ganador}}</h2>
</div>
</body>