<html>
  <body>   
<div class="d-flex flex-column">
  <main class="flex-fill">
  </main>

  <footer class="py-3 mt-auto ">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLinkActive="active"  routerLink="/inico" class="nav-link px-2 text-body-secondary">Inico</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/nueva-partida" class="nav-link px-2 text-body-secondary">Nueva Partida</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/historial" class="nav-link px-2 text-body-secondary">Historial de partidas</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/perfil" class="nav-link px-2 text-body-secondary">Perfil</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2025 TabelTopWarGame</p>
  </footer>
</div>
</body>
</html>