<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">©TabelTopWargame</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <h4>©2025 TabelTopWargame</h4>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Inicio</a></li>
      <li class="nav-item"><a  class="nav-link px-2 text-body-secondary" routerLinkActive="active" routerLink="nueva-partida">Nueva Partida</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="historial" class="nav-link px-2 text-body-secondary">Historial de Partidas</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="perfil" class="nav-link px-2 text-body-secondary">Perfil</a></li>
    </ul>
  </footer>
</div>