
input {
    margin-bottom: 10px;
  }
  
  img {
    border: 2px solid #000;
    border-radius: 10px;
    margin-top: 10px;
  }

  body {
    background-image: url('./../../../../public/images/cerarPerfil.jpg'); 
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;  
    height: 78.4vh;                
    margin: 0;     
}

h2{
  color: white;
}

h1{
  color: white;
}

h3{
  color: white;
}
