<h1>Nueva Partida</h1>
<h2>Tu: {{nombrejugadoruno}}</h2>
<h4>Puntos de Comando: {{PuntosComandoUno}}</h4>
<input type="number" [(ngModel)]="PuntosComandoUno">
<h4>Puntos de Victoria: {{PuntosVictoriaUno}}</h4>
<input type="number" [(ngModel)]="PuntosVictoriaUno">


<h2>Rival: {{nombrejugadordos}}</h2>
<h4>Puntos de Comando: {{PuntosComandoDos}}</h4>
<input type="number" [(ngModel)]="PuntosComandoDos">
<h4>Puntos de Victoria: {{PuntosVictoriaDos}}</h4>
<input type="number" [(ngModel)]="PuntosVictoriaDos">

<div class="d-flex justify-content-center ">
    <button type="button" class="btn btn-primary btn-lg btn-principal" routerLinkActive="active" routerLink="/fin-de-partida">Terminar Partida</button>
</div>
