.btn-principal{
    background-image: url('./../../../../public/images/espadas.jpg');
    background-size: cover;  /* Ajusta la imagen al tamaño del botón */
    background-position: center; /* Centra la imagen */
    color: white; /* Color del texto */
    font-size: 1.5rem; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    width: 270px; /* Ancho del botón (ajústalo según necesites) */
    height: 115px; /* Alto del botón */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra para que el texto sea más legible */ 
}